- content_for :breadcrumb do
  - nodes = [{ label: @project.name, path: dashboard_project_path(@project) }, { label: 'Board', path: namespace_project_boards_path(@project.namespace.parent.full_path, @project.path) }]
  = render 'shared/breadcrumb', nodes: nodes

%div{ class: 'w-full bg-white', style: 'height: calc(100vh - 50px)' }
  - if @stages_with_issues&.any?
    %div{ class: 'px-6 py-4 overflow-x-auto', style: 'height: calc(100% - 64px)' }
      %div{ class: 'flex gap-6 h-full' }
        - @stages_with_issues.each do |stage_data|
          - stage = stage_data[:stage]
          - issues = stage_data[:issues]
          = render 'projects/boards/stage_column', stage: stage, issues: issues
