%div{ id: "notes-section", class: "mt-8" }
  %div
    %h2{class: 'text-lg font-bold mb-4'} Activity

  = render 'shared/notes/notes', notes: notes, noteable: noteable

  - if current_user&.can?(:create_note, noteable)
    = render 'shared/notes/form', noteable: noteable
