- if @stage.persisted?
  = turbo_stream.before @closed_stage_frame_id do
    = render 'projects/boards/stage_column', stage: @stage, issues: @issues, newly_created: true
- else
  = turbo_stream.replace 'flash' do
    = render 'shared/flash'
