
- content_for :breadcrumb do
  - nodes = [{ label: @project.name, path: dashboard_project_path(@project) }, { label: 'Issues', path: namespace_project_issues_path(@project.namespace.parent.full_path, @project.path) }, { label: @issue.to_reference, path: namespace_project_issue_path(@project.namespace.parent.full_path, @project.path, @issue) }, { label: 'Edit', path: edit_namespace_project_issue_path(@project.namespace.parent.full_path, @project.path, @issue) }]
  = render 'shared/breadcrumb', nodes: nodes

%div{ class: 'w-full bg-white p-6' }
  %div{ class: 'w-full max-w-6xl mx-auto flex flex-col px-4' }

    .edit-issue-page
      .page-header.mb-6
        %h1.text-xl.font-bold.text-slate-900
          Edit issue
          %span.text-slate-500= @issue.to_reference

      = render 'form'