- content_for :breadcrumb do
  - nodes = [{ label: project_breadcrumb_name(@project), path: project_path(@project) }, { label: 'Pipelines', path: pipelines_path(@project) }, { label: "##{@pipeline.id}", path: pipeline_path(@pipeline)}]
  = render 'shared/breadcrumb', nodes: nodes


- content_for :pipeline_content do
  = render 'jobs'
= render 'detail'
