- content_for :breadcrumb do
  - nodes = [*project_breadcrumb_nodes(@project), { label: 'Pipelines', path: pipelines_path(@project) }, { label: "##{@pipeline.id}", path: pipeline_path(@pipeline)}]
  = render 'shared/breadcrumb', nodes: nodes


- content_for :pipeline_content do
  = render 'jobs'
= render 'detail'
