- content_for :breadcrumb do
  - nodes = [*project_breadcrumb_nodes(@project), { label: 'Pipelines', path: pipelines_path(@project) }, { label: "##{@pipeline.id}", path: pipeline_path(@pipeline)}]
  = render 'shared/breadcrumb', nodes: nodes

- content_for :pipeline_content do
  / Left: Title and Description
  %div{ class: 'w-full md:w-3/4 space-y-6' }
    %div
      %h3{ class: 'text-lg font-semibold text-gray-800' } Description
      %p{ class: 'mt-2 text-gray-700 whitespace-pre-line' }
        = @pipeline.ref || "No description provided."

= render 'detail'
